parameters:
	ignoreErrors:
		-
			message: '#^Cannot assign new offset to list\<string\>\|string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$dimensions of class Qdequippe\\PHPDFtk\\Report\\PageMedia constructor expects array\<int\>, list\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$justification of class Qdequippe\\PHPDFtk\\Field\\Button constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$justification of class Qdequippe\\PHPDFtk\\Field\\Choice constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$justification of class Qdequippe\\PHPDFtk\\Field\\Text constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$name of class Qdequippe\\PHPDFtk\\Field\\Button constructor expects string, list\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$name of class Qdequippe\\PHPDFtk\\Field\\Choice constructor expects string, list\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$name of class Qdequippe\\PHPDFtk\\Field\\Text constructor expects string, list\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$nameAlt of class Qdequippe\\PHPDFtk\\Field\\Button constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$nameAlt of class Qdequippe\\PHPDFtk\\Field\\Choice constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$nameAlt of class Qdequippe\\PHPDFtk\\Field\\Text constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$rect of class Qdequippe\\PHPDFtk\\Report\\PageMedia constructor expects array\<int\>, list\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$stateOption of class Qdequippe\\PHPDFtk\\Field\\Button constructor expects array\<string\>, list\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$stateOption of class Qdequippe\\PHPDFtk\\Field\\Choice constructor expects array\<string\>, list\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$value of class Qdequippe\\PHPDFtk\\Field\\Button constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$value of class Qdequippe\\PHPDFtk\\Field\\Choice constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$value of class Qdequippe\\PHPDFtk\\Field\\Text constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php

		-
			message: '#^Parameter \$valueDefault of class Qdequippe\\PHPDFtk\\Field\\Choice constructor expects string\|null, list\<string\>\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pdftk.php
